body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #77162B;
    color: #EE9C26;
    padding: 5px 10px; /* Reduced padding for a thinner header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* Control the header height */
}

.logo img {
    max-height: 220px; /* Adjust this to fit your design */
    height: auto;     /* Maintain aspect ratio */
    width: auto;      /* Maintain aspect ratio */
    display: block;   /* Ensure block display to control layout */
}

.contact-info p {
    margin: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .logo img {
        max-height: 50px; /* Adjust for smaller screens */
    }

    header {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}

a:link {
    color: #EE9C26;
    background-color: transparent;
    text-decoration: none;
  }

main {
    padding: 20px;
    text-align: center;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters input, .filters select {
    margin-right: 20px;
    padding: 5px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher-entry {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.teacher-entry img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Ensure popup is centered */
/* Ensure popup is centered */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close, .back-arrow {
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
}

#teacher-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#teacher-info p {
    margin: 5px 0;
}
